.title-trans {
  background: radial-gradient(rgba(4, 44, 56, 0.856), rgba(41, 35, 35, 0.504));
  color: white;
  position: relative;
  border-right: 1px solid gray;
  /* clip-path: polygon(0 0, 100% 2%, 95% 100%, 0% 100%);
  margin-right: -3%; */
}

.top-nav-trans {
  background: radial-gradient(rgba(4, 44, 56, 0.856), rgba(41, 35, 35, 0.504));
  color: white;
  position: relative;
  /* clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%); */
}

.nav-card {
  border: 1px solid gray;
}
