.main {
  height: 100%;
  width: 100%;
}
.bg {
  background: linear-gradient(
      rgba(255, 107, 107, 0.635),
      rgba(85, 98, 112, 0.8)
    ),
    url("./bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
